<body bgcolor="white" text="black">

  <h1 align="center">検索結果</h1>
  <hr align="center" noshade width="80%"/>
  <div align="center">

    <%= p "入力されたyurukyaraキーワードは"%>
    <%= @yurukyara  %>

    <%# 対象のレコードを変数に格納しておく %>
    <% yurukyara_ido = yurukyara_keido = 0 %>
    <% p yurukyara = Yurukyara.find_by(url: @yurukyara) %>
    <% p  yurukyara_ido = yurukyara.ido %>
    <% p  yurukyara_keido = yurukyara.keido %>

    <%# 距離が近いものからソートする %>
    <%# 距離を計算する, ans配列に答を格納していく %>
    <% ans = Hash.new { |hash, key| hash[key] = {} } %>
    <% for i in 0..9 %> <%# imageの数 %>
    <%  ans[i] = (yurukyaras[i].ido - yurukyara_ido)**2 + (yurukyaras[i].keido - yurukyara_keido)**2 %>
    <% end %>

    <%# 距離が近い順にソートする %>
    <% ans_s = ans.sort{|(k1, v1), (k2, v2)| v1 <=> v2 } %>
    <% p sorted_ids = ans_s.map(&:first) %>

    <%# 結果を表示する %>
    <% sorted_ids.each.with_index do |id,index| %>
    <p> <%=  index + 1%>番目に近いです</p>
    <%= p Yurukyara.find(id + 1).pref %>
    <img src = "<%= Yurukyara.find(id + 1).url %>" width="300"><br>
    <% end %>

    <div align = "center">
      <a href = "./"> 戻る </a>
    </div>

  </body>
  </html>
